@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  background-color: #ffffff;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  background-color: transparent;

}

html {
  width: 375px;
}

li {
  list-style: none;
  padding-top: 10px;
  padding-right: 12px;
}

.container {
  background-image: url(images/headershapesmobile1.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 584px;
}

.color {
  color: #6070ff;
}

button {
  background-color: transparent;
  border: none;
  outline: none;
}

/* HEADER  */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px;
  padding: 12px;
  text-align: center;
}

.header a {
  font-size: 24px;
}

.header a:hover {
  font-size: 30px;
  color: chocolate;
}

/* INTRODUCTION */
.intro-text {
  display: flex;
  flex-direction: column;
  padding: 12px 30px;
  margin-top: 70px;
}

.text {
  font-size: 32px;
  font-weight: 700;
  line-height: 20px;
  padding-bottom: 19px;
  color: #172b4d;
}

.para {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #344563;
}

.links p {
  color: #7F8CFF;
  font-weight: 400;
}

.links {
  margin: 14px 30px;
}

.socialmedia {
  display: flex;
}

.icon {
  font-size: 25px;
  color: black;
}